<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %} Pic Fall</title>
        <!-- Le styles -->
        <link href="{{STATIC_URL}}css/bootstrap.css" rel="stylesheet">
        <link href="{{STATIC_URL}}css/bootstrap-responsive.css" rel="stylesheet">
        {% block media %}
        {% endblock %}
        <!-- <link href="assets/css/docs.css" rel="stylesheet">
        <link href="assets/js/google-code-prettify/prettify.css" rel="stylesheet"> -->

    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <ul class="nav">
                        <li><a>pass</a></li>
                        {% block "nav" %}
                        {% endblock %}
                    </ul>
                    <a class="brand"><img src="{{STATIC_URL}}img/webx.png" style="height:30px; overflow:visible" /></a>
                </div>
            </div>
        </div>
    </body>
</html>

